@import "tailwindcss";

/* color themes */
:root {
  /* --color- */
  --color-background-primary: #e6e0d6;
  --color-background-nav: #3f392f;
  --color-background-card: #cfc7b8;
  --color-accent-interactive: #4f6d7a;
  --color-accent-warm: #8c4f3d;
  --color-neutral: #2f2a25;

  --color-text-primary: #2f2a25;
  --color-text-nav: #f2d7b2;
  --color-text-card: #1f1b18;
  --color-text-interactive: #ffffff;
  --color-text-warm: #ffffff;
}

[data-theme="dark"] {
  --color-background-primary: #33332b;
  --color-background-nav: #24201d;
  --color-background-card: #d6c1ac;

  --color-text-primary: #f2d7b2;
  --color-text-card: #332f26;
}

/* inline variables */
@theme inline {
  --font-heading-sans: var(--font-plus-jakarta-sans);
}

body {
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  height: 100%;
}

h1 {
  font-family: var(--font-heading-sans);
  font-weight: 800;
}

h2 {
  font-family: var(--font-heading-sans), Arial, Helvetica, sans-serif;
  font-weight: 700;
}
h3 {
  font-family: var(--font-heading-sans), Arial, Helvetica, sans-serif;
}
