@import "tailwindcss";

/* color themes */
:root {
  --color-background-primary: #d6c1ac;
  --color-background-card: #33332b;
  --color-accent-interactive: #7097a6;
  --color-accent-warm: #7e4621;
  --color-neutral: #95b1bf;

  --color-text-primary: #332f26;
  --color-text-card: #f2d7b2;
  --color-text-accent-interactive: #28353d;
  --color-text-accent-warm: #e8c7a6;
  --color-text-neutral: #d7dee8;
}

[data-theme="dark"] {
  --color-background-primary: #33332b;
  --color-background-card: #d6c1ac;

  --color-text-primary: #f2d7b2;
  --color-text-card: #332f26;
}

/* inline variables */
@theme inline {
  --font-heading-sans: var(--font-plus-jakarta-sans);
}

body {
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-heading-sans);
  font-weight: 800;
}

h2 {
  font-family: var(--font-heading-sans), Arial, Helvetica, sans-serif;
}
h3 {
  font-family: var(--font-heading-sans), Arial, Helvetica, sans-serif;
}
